!!!
%html{:lang => "en"}
  %head
    %title MacMccain
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags

  %body

    .navbar{:role => "navigation"}
      .container
        .navbar-header
          = link_to "MacMccain", root_path, class: "navbar-brand"
        %ul.nav.navbar-nav.pull-right
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Albums
              %span.caret
            %ul.inverse-dropdown.dropdown-menu{:role => "menu"}
              %li.divider
              %li= link_to "all MAC too McCain easy", root_path
              %li.divider
              %li= link_to "Color of Everything", root_path
              %li.divider
              %li= link_to "Perfect World", root_path
              %li.divider
              %li= link_to "Rhythm and Dues", root_path
          %li= link_to "Contact", root_path
          - if current_user
            %li= link_to "Logout", logout_path
          - else
            %li.login-toggle
              %a Login

    .notice
    = yield
    = javascript_include_tag 'application'
