!!!
%html{:lang => "en"}
  %head
    %title MacMccain
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    %link{:href => "//fonts.googleapis.com/css?family=Lato", :rel => "stylesheet", :type => "text/css"}/

  %body

    .navbar.navbar-default
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"type" => "button", "data-toggle" => "collapse", "data-target" => "#navbar-collapse-1"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand= link_to "MacMccain", root_path
        .collapse.navbar-collapse.pull-right#navbar-collapse-1
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", "role" => "button"}
                Music
                %span.caret
              %ul.dropdown-menu{"role" => "menu"}
                %li= link_to "Albums", albums_path, class: "nav-album-title"
                - albums = Album.all
                - albums.each do |album|
                  %li= link_to "\u2022 #{album.name}", album_songs_path(album)
            %li= link_to "Contact", contact_path
            %li= link_to "Donate", donate_path
            - if current_user
              %li= link_to "Logout", logout_path
            - if current_user && current_user.admin
              %li= link_to "Admin", admin_path

    .container

      - if notice != nil
        %p.notice.alert.alert-success.col-md-6.col-md-offset-3.text-center=notice

      = yield

    .footer
      %p.text-center Copyright 2015

    = javascript_include_tag 'application'
